In [1]:
A=25
Print(A)

NameError: name 'Print' is not defined

In [2]:
Printf(A)

NameError: name 'Printf' is not defined

In [3]:
A=24

In [4]:
Print(A)

NameError: name 'Print' is not defined

In [5]:
a=12

In [6]:
Print(a)

NameError: name 'Print' is not defined

In [7]:
b=23

In [8]:
print(b)

23

In [9]:
b=a

In [10]:
print(a)

12

In [11]:
print(type(a))

<class 'int'>

In [12]:
_100a=100

In [13]:
print(_100a)

100

In [14]:
My_age = 31

In [15]:
print(My_age)

31

In [16]:
##Important Topic

In [17]:
####Important Topic

In [21]:
Course = 'Data science'
Place = 'Top mentor'
Mode = 'online'

Print('I am learning',Course,'from',Place,'in',mode)

NameError: name 'Print' is not defined

In [20]:
Print('I am learning',Course,'from',Place,'in',mode)

NameError: name 'Print' is not defined

In [22]:
print('I am learning',Course,'from',Place,'in',mode)

NameError: name 'mode' is not defined

In [23]:
Course = 'Data science'
Place = 'Top mentor'
Mode = 'online'

Print('I am learning',Course,'from',Place,'in',mode)

NameError: name 'Print' is not defined

In [24]:
Course = 'Data science'
Place = 'Top mentor'
Mode = 'online'

In [25]:
Print(I am learning',Course,'from',Place,'in',mode)

SyntaxError: unterminated string literal (detected at line 1) (1713465538.py, line 1)

In [27]:
Course='Data science'
Place='Top mentor'
mode='online'

print('i am learning',Course,'from',Place,'in',mode)

i am learning Data science from Top mentor in online

In [30]:
age='thrity one'
print('my age is'+age)

my age isthrity one

In [31]:
a=50

In [32]:
type(a)

int

In [33]:
b=float(a)

In [34]:
print(b)

50.0

In [35]:
a=55.5

In [36]:
type(a)

float

In [37]:
c=int(a)

In [38]:
print(c)

55

In [2]:
salary=  102.2
Spend=20
course='udemy'

# I Got 102.2 Rs salary and learning a course in Udemy which charges 20 rs per day

print('i got ',salary,'Rs salary and learning a course in ',course,'which charges',Spend,'rs per day')

i got  102.2 Rs salary and learning a course in  udemy which charges 20 rs per day

print('i got',salary)

In [7]:
salary=  102.2
Spend=20
course='udemy'

# I Got 102.2 Rs salary and learning a course in Udemy which charges 20 rs per day

print('i got '+str(salary)+' '+'Rs'+' '+'salary'+' '+' '+'and'+' '+'learning a course in '+course+' '+'which charges '+str(Spend)+' '+'rs per day')

i got 102.2 Rs salary  and learning a course in udemy which charges 20 rs per day

In [8]:
Age=12

In [13]:
print(f'my age is {Age}')

my age is 12

In [16]:
salary=  102.2
Spend=20
course='udemy'

print(f'i got {salary} Rs salary and learning a course in {course} which charges {Spend} Rs per day')

i got 102.2 Rs salary and learning a course in udemy which charges 20 Rs per day

In [3]:
a= 'I am an engineer'
a.index(g)

NameError: name 'g' is not defined

In [2]:
a.index(g)

NameError: name 'g' is not defined

In [5]:
a= 'I am an engineer'
a.index('g')

10

In [6]:
a= 'I am an engineer'
a.replace('e','i',1)

'I am an ingineer'

In [6]:
a=[1,2,3,4,5,6,5,6,6,6]



a.count(5)

print(a)

[1, 2, 3, 4, 5, 6, 5, 6, 6, 6]

In [8]:
a.extend(['man','made','material'])

print(a)

[1, 2, 3, 4, 5, 6, 5, 6, 6, 6, 'man', 'made', 'material']

In [9]:
a.pop()

'material'

In [10]:
print(a)

[1, 2, 3, 4, 5, 6, 5, 6, 6, 6, 'man', 'made']

In [11]:
### hsuui

In [12]:
a=('I worked in OPPO for 5 years')
a.split()

['I', 'worked', 'in', 'OPPO', 'for', '5', 'years']

In [1]:
a = ['I', 'worked', 'in', 'OPPO', 'for', '5', 'years]
     join(a)

SyntaxError: unterminated string literal (detected at line 1) (3876582923.py, line 1)

In [2]:
b = join(a)

NameError: name 'join' is not defined

In [4]:
b=' '.join(a)

NameError: name 'a' is not defined

SyntaxError: unterminated string literal (detected at line 1) (1936912787.py, line 1)

In [10]:
a = ['I', 'worked', 'in', 'OPPO', 'for', 'five', 'years]
     b=' '.join(a)
     print(b)

SyntaxError: unterminated string literal (detected at line 1) (2259896546.py, line 1)

In [15]:
a = ['I', 'worked', 'in', 'OPPO', 'for', '5', 'years']
b=' '.join(a)
print(b)

I worked in OPPO for 5 years

In [ ]:
Value = 'language.programming.love.i'

In [18]:
Value.reverse()

NameError: name 'Value' is not defined

In [19]:
value.index(::-1)

SyntaxError: invalid syntax (3196000986.py, line 1)

In [25]:
Value = 'language.programming.love.i'

a= Value(::-1)
print(a)

SyntaxError: invalid syntax (2098738219.py, line 3)